{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y" style="min-height: 84vh;">
    <div class="container">
        <!-- ============================ COMPONENT LOGIN ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top: 100px;">
            {% include 'includes/alerts.html' %}
            
            <div class="card-body">
                <h4 class="card-title mb-4 text-center">Reset Your Password</h4>
                
                <form action="{% url 'resetPassword' %}" method="POST" novalidate>
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label for="password" class="form-label">New Password</label>
                        <input type="password" 
                               class="form-control" 
                               id="password"
                               name="password" 
                               placeholder="Create New Password"
                               required>
                    </div> <!-- form-group// -->

                    <div class="form-group">
                        <label for="confirm_password" class="form-label">Confirm Password</label>
                        <input type="password" 
                               class="form-control" 
                               id="confirm_password"
                               name="confirm_password" 
                               placeholder="Confirm New Password"
                               required>
                    </div> <!-- form-group// -->

                    <div class="form-group mt-4">
                        <button type="submit" 
                                class="btn btn-primary btn-block w-100">
                            Reset Password
                        </button>
                    </div> <!-- form-group// -->
                </form>
            </div> <!-- card-body// -->
        </div> <!-- card// -->

        <div class="text-center mt-4">
            <p class="mb-0">
                Don't have an account? 
                <a href="{% url 'register' %}" class="text-primary">Sign up</a>
            </p>
        </div>
        <!-- ============================ COMPONENT LOGIN END ================================= -->
    </div> <!-- container// -->
</section>
<!-- ========================= SECTION CONTENT END ========================= -->
{% endblock %}