<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<section class="footer-top padding-y-sm">
		<div class="container">
					<p style="text-align: center;">Develop By | Nget Vakhim and DORN Mesa</p>
					<br>
					<p style="text-align: center;">You can follow all my social media</p>
					<div class="col-md-15 text-md-center">
						<a href="https://www.facebook.com/profile.php?id=100062144420482" class="btn btn-icon btn-light"><i class="fab fa-facebook-f"></i></a>
						<a href="https://www.t.me/Dornmesa" class="btn btn-icon btn-light"><i class="fab fa-telegram"></i></a>
						<a href="https://www.instagram.com/ishowsaa/" class="btn btn-icon btn-light"><i class="fab fa-instagram"></i></a>
						<a href="https://www.youtube.com/@DORNMesa" class="btn btn-icon btn-light"><i class="fab fa-youtube"></i></a>
					</div>
		</div><!-- //container -->
	</section>	<!-- footer-top.// -->
</footer>
<!-- ========================= FOOTER END // ========================= -->